.blogs-page {
     background-color: #f5f7fa;
     min-height: 100vh;
     margin: 0px 0px 20px 0px;
}

.blog-container {
     padding: 0px 50px;

}

.blogs-header {
     text-align: center;
     margin-bottom: 40px;
}

.blogs-header h1 {
     font-size: 40px;
     font-weight: 800;
     color: #305587;
}

.blogs-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     gap: 30px;
}

.no-blogs {
     text-align: center;
     color: grey;
     font-size: 18px;
     margin-top: 50px;
}