.navbar {
     /* background-color: #3b82f6; */
     padding: 15px 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #2d5494;
}

.navbar-content {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}

.navbar-title {
     font-size: 18px;
     font-weight: 600;
     margin-right: 20px;
}

.logout-btn {
     background-color: #2f528a;
     color: white;
     font-weight: 600;
     padding: 10px 20px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}

.logout-btn:hover {
     background-color: #3b82f6;
}